@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Search Engine Optimization (SEO)";
}
<div class="container py-5 ">
<div class="jumbotron text-center card animated-card" style="background-color: #FBC40E; color: #343F71; font-family: 'Roboto', sans-serif;">
    <h1 class="display-4">Search Engine Optimization (SEO)</h1>
    <p class="lead">Learn about how to improve your website's visibility on search engines</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card animated-card" style="background-color: #E9D8E4;">
                <div class="card-body">
                    <h5 class="card-title">What is SEO?</h5>
                    <p class="card-text">SEO stands for Search Engine Optimization, which is the practice of increasing the quantity and quality of traffic to a website from search engines through organic (non-paid) search results. SEO involves optimizing website content, structure, and technical elements to make it more visible and relevant to search engines, with the goal of ranking higher in search results and driving more organic traffic to the site.</p>
                    <a href="https://en.wikipedia.org/wiki/Search_engine_optimization" class="btn btn-secondary animated-link" target="_blank">Learn more on Wikipedia</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card animated-card" style="background-color: #E9D8E4;">
                <div class="card-body">
                    <h5 class="card-title">Why is SEO important?</h5>
                    <p class="card-text">SEO is important because it helps search engines understand what your website is about and how it can be useful for users. By optimizing your website for search engines, it will appear more often in relevant searches, increasing the chances of people visiting your website. This can lead to increased brand awareness and more potential customers</p>
                    <br />  
                    <a href="https://ads.google.com/home/resources/seo-vs-ppc/#:~:text=What%20is%20SEO%3F,more%20often%20in%20relevant%20searches." class="btn btn-secondary animated-link" target="_blank">Learn more on Google</a>
                </div>
            </div>
        </div>
    </div>
</div>


                    </div>
                      